.logo {
    width: 56px;
    border-radius: 50%;
}
.sec_01 {
background-image:url('../img/background_image_03.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}
.sec_02 {
    background-image:url('../img/background_image_02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.bg-title {
background-color: rgba(251, 227, 241, 0.66);
padding: 20px 25px;
border-left: 5px solid rgb(233,12,141);

}
.bg-beige{
    background-color: rgba(251, 227, 241, 0.66);
}

.tema_escuro{
    background-color: black;
    color: white;
}

.tema_escuro .navbar {
    background-color: black !important;
}

.tema_escuro .nav-link, .tema_escuro .navbar-brand, .tema_escuro .dropdown-item {
    color: white !important;
}

.tema_escuro .dropdown-menu {
    background-color: black !important;
}

.tema_escuro .card {
    background-color: black !important;
    color: white !important;
    border: 1px solid gray;
}

.tema_escuro .sec_01, .tema_escuro .sec_02 {
    background-color: black !important;
    background-image: none !important; 
}

.tema_escuro .bg-title, .tema_escuro .bg-beige {
    background-color: black !important;
    border-left-color: #c142bf !important;
}

.tema_escuro .text-primary {
    color: #c142bf !important;
}

.tema_escuro input {
    background-color: black !important;
    color: white !important;
    border: 1px solid gray !important;
}

.tema_escuro footer {
    background-color: rgb(55, 55, 55) !important;
    color: white !important;
}

.tema_escuro footer a {
    color: #c142bf !important;
}

.tema_claro{
    background-color: white !important;
    color: #000000 !important;
}

.tema_claro .navbar {
    background-color: white !important;
}

.tema_claro .nav-link, .tema_claro .navbar-brand, .tema_claro .dropdown-item {
    color: black !important;
}

.tema_claro .dropdown-menu {
    background-color: white;
}

.tema_claro .form-control {
    background-color: white !important;
    color: black !important;
    border-color: #ccc !important;
}

.tema_claro input, .tema_claro input::placeholder {
    color: black !important;          
}

.tema_claro input {
    background-color: white !important; 
    border: 1px solid white !important;   
}

.tema_claro .card {
    background-color: white !important;
    color: black !important;
    border: 1px solid white;
}

.tema_claro .sec_01, .tema_claro .sec_02 {
    background-color: white !important;
    background-image: none !important;
}

.tema_claro .bg-title, .tema_claro .bg-beige {
    background-color: white !important;
    border-left-color: #d3d3d3 !important;
}

.tema_claro footer {
    background-color: rgb(148, 146, 146) !important;
    color: black !important;
}

.tema_claro footer a {
    color: black !important;
}